---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: immich-photos
  namespace: home-services
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: "nas-nfs"
  resources:
    requests:
      storage: 500Gi
