---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: jellyfin
  namespace: argo-system
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/michaeljwood/home-lab.git"
      path: kubernetes/apps/home-services/jellyfin
      targetRevision: main
      ref: repo
    - repoURL: "https://jellyfin.github.io/jellyfin-helm"
      chart: jellyfin
      targetRevision: 2.7.0
      helm:
        releaseName: jellyfin
        valueFiles:
          - $repo/kubernetes/apps/home-services/jellyfin/values.yaml
  destination:
    name: in-cluster
    namespace: home-services
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
    - CreateNamespace=true
    - ServerSideApply=true
