## File values.yaml ##

ingressClass:
  name: "internal"
  isDefaultClass: true
gatewayClass:
  name: "internal"

providers:
  kubernetesCRD:
    enabled: true
    ingressClass: "internal"
  kubernetesIngress:
    enabled: true
    ingressClass: "internal"
  kubernetesGateway:
    enabled: true

gateway:
  namespacePolicy: All

logs:
  access:
    enabled: true

service:
  annotations:
    lbipam.cilium.io/ips: 10.0.0.97
  spec:
    loadBalancerIP: 10.0.0.97

tlsStore:
  default:
    defaultCertificate:
      secretName: "mjwood-org-production-tls"

ports:
  websecure:
    http:
      middlewares:
        - "network-bot-wrangler@kubernetescrd"

experimental:
  plugins:
    wrangler:
      moduleName: github.com/holysoles/bot-wrangler-traefik-plugin
      version: v0.10.1

volumes:
  - name: botwrangler-robots-template
    mountPath: /etc/traefik/bot-wrangler/
    type: configMap

ingressRoute:
  dashboard:
    enabled: true
    matchRule: Host(`traefik.internal.mjwood.org`)
    entryPoints:
      - web

additionalArguments:
  - --entryPoints.web.http.redirections.entryPoint.to=:443
  - --entryPoints.web.http.redirections.entryPoint.scheme=https
  - --entryPoints.web.http.redirections.entryPoint.permanent=true
