## File values.yaml ##

ingressClass:
  name: "internal"
  isDefaultClass: true
gatewayClass:
  name: "internal"

providers:
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

gateway:
  namespacePolicy: All

logs:
  access:
    enabled: true

service:
  annotations:
    lbipam.cilium.io/ips: 10.0.0.97
  spec:
    loadBalancerIP: 10.0.0.97

tlsStore:
  default:
    defaultCertificate:
      secretName: "mjwood-org-production-tls"

ports:
  web:
    http:
      middlewares:
        - "robots-txt@kubernetescrd"
  websecure:
    http:
      middlewares:
        - "robots-txt@kubernetescrd"

experimental:
  plugins:
    robots-txt:
      moduleName: "github.com/solution-libre/traefik-plugin-robots-txt"
      version: "v0.2.2"
