## File values.yaml ##

ingressClass:
  name: "internal"
  isDefaultClass: true
gatewayClass:
  name: "internal"

providers:
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

gateway:
  namespacePolicy: All

logs:
  access:
    enabled: true

service:
  annotations:
    lbipam.cilium.io/ips: 10.0.0.97
  spec:
    loadBalancerIP: 10.0.0.97

tlsStore:
  default:
    defaultCertificate:
      secretName: "mjwood-org-production-tls"

ports:
  web:
    http:
      middlewares:
        - "bot-wrangler@kubernetescrd"
  websecure:
    http:
      middlewares:
        - "bot-wrangler@kubernetescrd"

experimental:
  plugins:
    bot-wrangler:
      moduleName: github.com/holysoles/bot-wrangler-traefik-plugin
      version: v0.10.1
