## File values.yaml ##

ingressClass:
  name: "traefik-internal"
  isDefaultClass: false
gatewayClass:
  name: "traefik-internal"

providers:
  kubernetesIngress:
    enabled: true
  kubernetesGateway:
    enabled: true

gateway:
  namespacePolicy: All

logs:
  access:
    enabled: true

service:
  annotations:
    lbipam.cilium.io/ips: 10.0.0.86
  spec:
    loadBalancerIP: 10.0.0.86

tlsStore:
  default:
    defaultCertificate:
      secretName: "mjwood-org-production-tls"
