controller:
  driver:
    image:
      tag: next
driver:
  config:
    driver: freenas-api-nfs
    httpConnection:
      protocol: https
      apiKey: ENC[AES256_GCM,data:PwBMRaesALEpGhucupv5ui8GOzhnA+G2iTGM1nhDCekZlZVjMNnXNBBcZVuCKp2mrvzHSy7oBAgrjT/DkYXuj6mC,iv:h6mUGc7uwRjMyRAkspUfj/vTRx5KuxGFYbPdYlYd0Sw=,tag:a+sMCHNP02EATxoZ1BQ8Gw==,type:str]
      host: 10.0.0.16
      port: 443
      allowInsecure: true
    zfs:
      datasetParentName: main-pool/talos/nfs/vol
      detachedSnapshotsDatasetParentName: main-pool/talos/nfs/snap
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0
    nfs:
      shareCommentTemplate: '{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}'
      shareHost: 10.0.0.16
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: root
      shareMaprootGroup: root
      shareMapallUser: ""
      shareMapallGroup: ""
csiDriver:
  # should be globally unique for a given cluster
  name: org.democratic-csi.freenas-api-nfs-flash
storageClasses:
  - name: truenas-flash-nfs
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: nfs
    mountOptions:
      - noatime
      - nfsvers=4
volumeSnapshotClasses:
  - name: truenas-flash-nfs
    parameters:
      detachedSnapshots: "true"
sops:
  age:
    - recipient: age1m0lm4afkysxufghhpez3p0wjzchms5gpadc085p3ukqh75hyvanst3lrvr
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBaTVZrNmtRa2JlQUREejAx
        amhVL0ZMNDlFT1p6aXhqT29OODVGSDljUGt3CnlZakRuM2NpdmV2MHNrbjJqR1Q1
        aGJONHVYZmo1dHNhd1JRMERoeE5iakkKLS0tIFhHRmNXTTRuZzZBRkNxM2RHT3o0
        VUJ6ZFpQTU1UWmFtQ0RxTkJQcC9zOWMK+D8an+v9Jdw+0jYArD1a8mhrEWAeniyF
        YZO0y1SGaWulw6fhUbpvmfgzpf8ml7V8OHZONGUD+hoqRH5rFPRFMw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-05-26T20:13:04Z"
  mac: ENC[AES256_GCM,data:Km6cvBSKqKSvk8vAr/Pq573Cv8vbnnyvVl8B1n1MmjgxnmpWkNg6R/X0oLvNzwfGgZjmZEQfi3GB8jw8MwTWksYSpUtDnZFQ2MNBqrYtHtignS2Jh5SmxSWLT3fd1YfgKvX1ckLQtjXZuixZrySebujG0su8GDlpBYe8mv+VEps=,iv:moJ0OXddDDPtsxoAp/gqXIUCNMrVbhs0Qnb981WCGkg=,tag:/NxPRdrlPYQkx/Q2VfZ8CQ==,type:str]
  encrypted_regex: ^(data|stringData|apiKey|rootPassword|secretKey|adminPassword|basicAuthPassword|password|secret_key)$
  mac_only_encrypted: true
  version: 3.10.2
