replicaCount: 1
ingress:
  enabled: true
  className: external
  annotations:
    external-dns.alpha.kubernetes.io/target: external.mjwood.org
    # proxy-body-size is set to 0 to remove the body limit on file uploads
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/affinity: cookie
  hosts:
    - host: cloud.mjwood.org
      paths:
        - path: /
  tls: []
nextcloud:
  host: cloud.mjwood.org
  username: stromgard
  password: ENC[AES256_GCM,data:sFwgAXemROzpQkasW9S1s2y8EYU=,iv:ng5SHtjy1LWmaYZtcdLIecVr1EmEtTuhO5b/f8quvdY=,tag:wn5kiSOyhIJlAikTw3aiYw==,type:str]
internalDatabase:
  enabled: false
##
## External database configuration
##
externalDatabase:
  enabled: true
  ## Supported database engines: mysql or postgresql
  type: postgresql
  ## Database host. You can optionally include a colon delimited port like "myhost:1234"
  host: nextcloud-postgresql-rw
  ## Database name
  database: nextcloud
  ## Use a existing secret
  existingSecret:
    enabled: true
    secretName: nextcloud-postgresql-user
    usernameKey: username
    passwordKey: password
##
## Redis chart configuration
## for more options see https://github.com/bitnami/charts/tree/main/bitnami/redis
##
redis:
  enabled: true
  auth:
    enabled: true
    password: ENC[AES256_GCM,data:cEs4i1bcLaW3uka5AdHeP3xxtL4q0j5K704c1fkRG5O/WqblJ0tRPK7e6IxVoTMbSdH6PXSeZRCAughMRNfe0Q==,iv:Jd8tiUhPzo8DJhiCEB4n6UIubKmzgmleGh94Wehc3lE=,tag:TB2dO1rs7MZGEXeQT9WbKg==,type:str]
  global:
    storageClass: nas-flash-iscsi
  master:
    persistence:
      enabled: true
  replica:
    persistence:
      enabled: true
## Cronjob to execute Nextcloud background tasks
## ref: https://docs.nextcloud.com/server/latest/admin_manual/configuration_server/background_jobs_configuration.html#cron
##
cronjob:
  enabled: true
## Enable persistence using Persistent Volume Claims
## ref: http://kubernetes.io/docs/user-guide/persistent-volumes/
##
persistence:
  enabled: true
  storageClass: nas-flash-iscsi
  nextcloudData:
    enabled: true
    storageClass: nas-nfs
    accessMode: ReadWriteOnce
    size: 1Ti
phpClientHttpsFix:
  enabled: true
sops:
  age:
    - recipient: age1m0lm4afkysxufghhpez3p0wjzchms5gpadc085p3ukqh75hyvanst3lrvr
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBta2NmV2pkVFpKWXF0U3hr
        c3kwSkNqQ0s4dmpjM0phME40ZGtZbTdrYjNjClFJWkx4TEpUUitnbHQ1eXlOSG5i
        Z0xEcjdta1J0T0lLbElkWDc2azdmREEKLS0tIHVab2lSeE1TSk1nQmM2Mm00MnZ0
        MEJWemNlY2pjd1pVL3JtTzk4ZHJvRDgKW83pKoyN6C7oKzSkPHYchtQIipydBSTV
        WHb6Ou5QQ+/eDw0Nc2yb58cRJP6YZ6B9oZV5TMA2QuPq+FVjs7CVuw==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-30T23:13:26Z"
  mac: ENC[AES256_GCM,data:MqgPgKgMkdu4DV2pfDjjDk8aBp79PiGrJF7pRa9jSYZWxjBFjQcaULc++HhDzPL6/RiwYx88InDvaedy/Fq4SueY3VDnD0n9NTvLuGx2RGLImEQX++Pv40pn/Ubbta5pS2hZtIt7RoHbs2oRsYa6xRQ5Y6G5uzcE9Da+scJLdYs=,iv:Gk7Ne/+wI9lS/JO2kiZ1AK6Ve/R0gYbtQSnz/KxEGss=,tag:wuHSFTaXGCWbZxDPffq/hw==,type:str]
  encrypted_regex: ^(data|stringData|apiKey|rootPassword|secretKey|adminPassword|basicAuthPassword|password|secret_key|secret|WOODPECKER_FORGEJO_SECRET|token)$
  mac_only_encrypted: true
  version: 3.11.0
