---
apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: forgejo
  namespace: argo-system
spec:
  project: kubernetes
  sources:
    - repoURL: "https://github.com/michaeljwood/home-lab.git"
      path: kubernetes/apps/forgejo-system/forgejo
      targetRevision: main
      ref: repo
    - repoURL: code.forgejo.org/forgejo-helm
      chart: forgejo
      targetRevision: 15.0.4
      helm:
        releaseName: forgejo
        valueFiles:
          - $repo/kubernetes/apps/forgejo-system/forgejo/values.sops.yaml
  destination:
    name: in-cluster
    namespace: forgejo-system
  syncPolicy:
    automated:
      allowEmpty: true
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
