service:
  ## @param service.ssh.type Kubernetes service type for ssh traffic
  ## @param service.ssh.port Port number for ssh traffic
  ## @param service.ssh.clusterIP ClusterIP setting for ssh autosetup for deployment
  ## @param service.ssh.loadBalancerIP LoadBalancer IP setting
  ## @param service.ssh.nodePort NodePort for ssh service
  ## @param service.ssh.externalTrafficPolicy If `service.ssh.type` is `NodePort` or `LoadBalancer`, set this to `Local` to enable source IP preservation
  ## @param service.ssh.externalIPs External IPs for service
  ## @param service.ssh.ipFamilyPolicy SSH service dual-stack policy
  ## @param service.ssh.ipFamilies SSH service dual-stack family selection,for dual-stack parameters see official kubernetes [dual-stack concept documentation](https://kubernetes.io/docs/concepts/services-networking/dual-stack/).
  ## @param service.ssh.hostPort HostPort for ssh service
  ## @param service.ssh.loadBalancerSourceRanges Source range filter for ssh loadbalancer
  ## @param service.ssh.annotations SSH service annotations
  ## @param service.ssh.labels SSH service additional labels
  ## @param service.ssh.loadBalancerClass Loadbalancer class
  ssh:
    #type: LoadBalancer
    port: 22
    #    clusterIP:
    #    loadBalancerIP:
    #    nodePort:
    externalTrafficPolicy: Cluster
    externalIPs:
      - 10.0.0.88
      #    ipFamilyPolicy:
      #    ipFamilies:
      #    hostPort:
      #    loadBalancerSourceRanges: []
    #annotations:
    #  io.cilium/lb-ipam-ips: 10.0.0.88
#    labels: {}
#    loadBalancerClass:
ingress:
  enabled: true
  className: external
  annotations:
    external-dns.alpha.kubernetes.io/target: external.mjwood.org
    nginx.ingress.kubernetes.io/proxy-read-timeout: 180s
  hosts:
    - host: forge.mjwood.org
      paths:
        - path: /
          pathType: Prefix
          port: http
  tls: []
persistence:
  size: 50Gi
  accessModes:
    - ReadWriteOnce
  storageClass: nas-iscsi
gitea:
  admin:
    username: forgejo-admin
    password: ENC[AES256_GCM,data:gfrsyBTeuU3nrq0N3Zhhr8MuHz1xadzEdVCDiHUFLyzQeC522hIaQ0v710pRejVVRx/sukdgjKHEtbKEHl7I3w==,iv:ZWVAQ0y3wNwr3vxsX/uLvxrWcS4gq4wHCDiCQEYi2lk=,tag:UGpbZCgQO6mqkdff0rEN4g==,type:str]
  oauth:
    - name: authentik
      provider: openidConnect
      key: n0znWG5u7HgP2EUEbW6C9aDT28opL4iUHadTL4FU
      secret: ENC[AES256_GCM,data:9KTTMccoBwoFhVBeHlUQARTfyc5f4iVdh0Ly6FIGjdXou8doharN7P5QGvRubWUf5ffMTWzFSvIACrnf51KUlxnhH/wyalAt+zxOND8Mvq1pW7llksHb3espZpATGfuQ+v8klxEIEP1IHEcdGL8JpbjF0kIFOmXVEcmOXNYchn0=,iv:QRlofywkjLv4NX63r5zinS55+cu17SqEwEj9KbSjcp8=,tag:PhLfMqh/FK6ehzWqWU/kRw==,type:str]
      autoDiscoverUrl: https://auth.mjwood.org/application/o/forgejo/.well-known/openid-configuration
      iconUrl: https://auth.mjwood.org/static/dist/assets/icons/icon.png
      scopes: email profile
  config:
    ## @param gitea.config.APP_NAME Application name, used in the page title
    APP_NAME: 'Forgejo: Beyond coding. We forge.'
    server:
      ROOT_URL: https://forge.mjwood.org
      SSH_DOMAIN: ssh.forge.mjwood.org
    database:
      DBTYPE: postgres
      HOST: forgejo-postgresql-rw
      NAME: gitea
      USER: gitea
  additionalConfigFromEnvs:
    - name: FORGEJO__DATABASE__PASSWD
      valueFrom:
        secretKeyRef:
          name: forgejo-db-secret
          key: PASSWD
redis-cluster:
  enabled: false
redis:
  enabled: true
  global:
    redis:
      password: ENC[AES256_GCM,data:x0nGFJShbp4NPNvM9AUV0LI89RWNkpjmCrT0ulnPHMMYTe4yf9nqDgd0a8grzVNQCAi+rxgpT1hVwoToZr22mA==,iv:EVcNa/533FcexYEAxHVhehejRnahqrU+7hzPFG7bkDA=,tag:ZD04ZjF1X7bSAlq95mB84A==,type:str]
postgresql-ha:
  enabled: false
postgresql:
  enabled: false
  global:
    postgresql:
      auth:
        password: ENC[AES256_GCM,data:Q3r7OmTHfLPnoMe37eZZWQ0WvC37JMFkEFrN5Dnf6An4GlwZHF0lWKZF7xgTWLjHmwVtlhorjR5GOjZXEmIe8g==,iv:FX0Hniz34kDcKen4iHwmxPxf8Y7+lrCy7O7iK5y+xWo=,tag:fbwD0dLj4/NEi+amit5DnQ==,type:str]
        database: gitea
        username: gitea
  primary:
    persistence:
      size: 10Gi
sops:
  age:
    - recipient: age1m0lm4afkysxufghhpez3p0wjzchms5gpadc085p3ukqh75hyvanst3lrvr
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBqM0NlcGhWSlVTTmNGSDV6
        SmVUL200VW56UE5jRWNxdm5xU2tsOEQwUm5VCklLUUJvQXpsSEZ0a1BRcU1CWEEz
        U1NSOEprU2NEVUF1M3ZNOER6UFdoRGcKLS0tIDdDS3M2QUN2YWhaQzVyUUMzeHdQ
        MHdHai9RV2d6dTNHc2FSUVFiRCtlMDAKSvSGv99pUNzRLWGxrgp3P9laLtKURz9Z
        XONZ9/AJt+JO1DToMcF9reImQknrjQI/VI5yYUwMPnkMu0rkUjSriQ==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-30T23:14:26Z"
  mac: ENC[AES256_GCM,data:DkaD2ck1oyuoyU8THY5Pkh0CruQOt6N1uOKOOWZKWMoraswwVJ1ff1PPJ1lOexji9Lj+ma6MOpn3OnEmE+oofWiFpMSysdaW5AMmCU8sREDsVI1OxBP9YKXLC7ehSUcLwtZVpVnvpNQfneDoXa3qkOrvb6JpePq4O5cjnKswIoE=,iv:jUCxFSunfsWCLKcMsv3OFmCgTk2f/9i1J1kt85IOEPE=,tag:EwHTX7oljcDwhwBO7/lJYw==,type:str]
  encrypted_regex: ^(data|stringData|apiKey|rootPassword|secretKey|adminPassword|basicAuthPassword|password|secret_key|secret|WOODPECKER_FORGEJO_SECRET|token)$
  mac_only_encrypted: true
  version: 3.11.0
