controller:
  driver:
    image:
      tag: next
driver:
  config:
    driver: freenas-api-iscsi
    httpConnection:
      protocol: https
      apiKey: ENC[AES256_GCM,data:rJC4FkLtvM9D97hqwsJ+W/znKckZa1a9Pr3qwqrcyxC4EDKewl+Lk0cEgYBH5QiFmF6Bo2MGNTB8+k4x0i+chAsO,iv:RUOxBTZhpfGTZuMZjMNWWW2jGV30srZUXpz0DqirIY0=,tag:UOmQJgYoAIKYtcgn+wGIOA==,type:str]
      host: 10.0.0.16
      port: 443
      allowInsecure: true
    zfs:
      datasetParentName: flash/k8s/iscsi/vol
      detachedSnapshotsDatasetParentName: flash/k8s/iscsi/snap
      zvolCompression: null
      zvolDedup: null
      zvolEnableReservation: false
      zvolBlockSize: null
    iscsi:
      targetPortal: 10.0.0.16:3260
      targetPortals: []
      interface: null
      namePrefix: csi-
      nameSuffix: -k8s
      targetGroups:
        - targetGroupPortalGroup: 2
          targetGroupInitiatorGroup: 2
          targetGroupAuthType: None
          targetGroupAuthGroup: null
      extentInsecureTpc: true
      extentXenCompat: false
      extentDisablePhysicalBlocksize: true
      extentBlocksize: 512
      extentRpm: SSD
      extentAvailThreshold: 0
csiDriver:
  # should be globally unique for a given cluster
  name: org.democratic-csi.freenas-k8s-iscsi-flash
storageClasses:
  - name: nas-flash-iscsi
    defaultClass: false
    reclaimPolicy: Delete
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: ext4
      detachedVolumesFromSnapshots: "false"
    mountOptions: []
    secrets:
      provisioner-secret: null
      controller-publish-secret: null
      node-stage-secret: null
      node-publish-secret: null
      controller-expand-secret: null
volumeSnapshotClasses:
  - name: nas-flash-iscsi
    parameters:
      detachedSnapshots: "true"
node:
  hostPID: true
  driver:
    extraEnv:
      - name: ISCSIADM_HOST_STRATEGY
        value: nsenter
      - name: ISCSIADM_HOST_PATH
        value: /usr/local/sbin/iscsiadm
    iscsiDirHostPath: /var/iscsi
    iscsiDirHostPathType: ""
sops:
  age:
    - recipient: age1m0lm4afkysxufghhpez3p0wjzchms5gpadc085p3ukqh75hyvanst3lrvr
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSA5WFJkeEowWmoweGV6Mi9p
        L3dEY1czZzJQejJ0bENvTk1xdTh2UGswTEVZClFxRERmM1BHOTA4UHJFdllmVktx
        cmg2Vk93MFpGNDJDWTlpZ0pndG1qdnMKLS0tIElRWHpnWmxveit5dXZkVlBXRnY0
        QUVuQThBR2xpMjhwSUYrS3V2TEg1Q28K3GcGcoT0eE5ygmVtSNRe/9yO1ycA4eyh
        ke6b6HBcOsPbO0H4jwIbRkjz1SKfJE5lRigb0zODg18eH1mM25htPg==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-12-30T18:39:02Z"
  mac: ENC[AES256_GCM,data:ze7Rm46hCbgo168z2zzZF3ko5DQWSe3zTGOrLExcjFDNyjzW5vYVkRZKBTrOGzQP1XjGp5QvTnVK8kK55tyL5P3+ZGorwUWwFGa5klQdP3W2PjYjBZ6bi26XQ39lcTafpENa/XbElC8mFNlniOirVz0CF0Yd+AdAK8eqYxwxt70=,iv:vTJ9WedwbF1juUNNPnTSf2eAkLFeuzcDkDaHekKEwtg=,tag:RYhkHtJjUncJRCjUu8vmaA==,type:str]
  encrypted_regex: ^(data|stringData|apiKey|rootPassword|secretKey|adminPassword|basicAuthPassword|password|secret_key|secret|WOODPECKER_FORGEJO_SECRET|token)$
  mac_only_encrypted: true
  version: 3.11.0
