---
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: "bot-wrangler"
spec:
  plugin:
    wrangler:
      robotsTxtFilePath: /etc/traefik/bot-wrangler/robots.txt
      logLevel: INFO
      botAction: BLOCK
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: botwrangler-robots-template
data:
  robots.txt: |
    {{ range $agent := .UserAgentList }}
    User-agent: {{ $agent }}
    {{- end }}
    Disallow: /
