controller:
  driver:
    image:
      tag: next
driver:
  config:
    driver: freenas-api-nfs
    httpConnection:
      protocol: https
      apiKey: ENC[AES256_GCM,data:brRV7WMDIi5d+k3u44Nyd9t5cL7F2AmxlaU+NONDGWOlOd8xnlfnU4BKTzR0VaTy1ny9KbidDxvgLx8I46hun6L3,iv:EFIhKuNJUwRPcuvgmWuihgdxGxZi3t2EvsXxPWGCiuA=,tag:w7ux5o+1UqF6LvHXFxOzWg==,type:str]
      host: 10.0.0.16
      port: 443
      allowInsecure: true
    zfs:
      datasetParentName: main-pool/talos/nfs/vol
      detachedSnapshotsDatasetParentName: main-pool/talos/nfs/snap
      datasetEnableQuotas: true
      datasetEnableReservation: false
      datasetPermissionsMode: "0777"
      datasetPermissionsUser: 0
      datasetPermissionsGroup: 0
    nfs:
      shareCommentTemplate: '{{ parameters.[csi.storage.k8s.io/pvc/namespace] }}-{{ parameters.[csi.storage.k8s.io/pvc/name] }}'
      shareHost: 10.0.0.16
      shareAlldirs: false
      shareAllowedHosts: []
      shareAllowedNetworks: []
      shareMaprootUser: root
      shareMaprootGroup: root
      shareMapallUser: ""
      shareMapallGroup: ""
csiDriver:
  # should be globally unique for a given cluster
  name: org.democratic-csi.freenas-api-nfs
storageClasses:
  - name: truenas-nfs
    defaultClass: false
    reclaimPolicy: Retain
    volumeBindingMode: Immediate
    allowVolumeExpansion: true
    parameters:
      fsType: nfs
    mountOptions:
      - noatime
      - nfsvers=4
volumeSnapshotClasses:
  - name: truenas-nfs
    parameters:
      detachedSnapshots: "true"
sops:
  age:
    - recipient: age1m0lm4afkysxufghhpez3p0wjzchms5gpadc085p3ukqh75hyvanst3lrvr
      enc: |
        -----BEGIN AGE ENCRYPTED FILE-----
        YWdlLWVuY3J5cHRpb24ub3JnL3YxCi0+IFgyNTUxOSBwa0Y3QWJiMm5EelltNHg4
        S29xREsvZ2lUaHp0N1V2c1JPRnVrZEJEL0JzClRwcXpGZmhZdFpNRVBIUjU4QnZC
        NjFueU1GMENsV2MvbVpaOVBoQzJzcVkKLS0tIGlrMXpJa2hvejVGL0hzU0NtaHlY
        Ny9LL1hiY3RXYUJWNmZhRWhWU0J3bjQKDZPdbtVpxWaga7aFt+xJuKLm4jSWHIpG
        8aTtzwAk4BRZOC7SJ6lxbuXjcGGvQeHXYQDBewZY1HsG3g5JC4OC0w==
        -----END AGE ENCRYPTED FILE-----
  lastmodified: "2025-05-26T20:12:37Z"
  mac: ENC[AES256_GCM,data:dimlUAdIEx858cCzrn3xlCI4PSNuc922TmqeXExMH2X9TBJxpejObWM4pEMoJ4C8Y39sWxQH5EUhWHHQ25oJ3Bx4M9dCyHshT+VeSyRoTosnjOM3WnzUQ0WtULEkIr4Yb6cG9saSIpWjagSmNqsY/3HRsOEp8ro83oSiDd506Ew=,iv:sqxjmu6bodNjcpjgAe4jzB5KO55CTFSnfwpo/lEWm8k=,tag:nXl/sqabDBjgORwoddIXJQ==,type:str]
  encrypted_regex: ^(data|stringData|apiKey|rootPassword|secretKey|adminPassword|basicAuthPassword|password|secret_key)$
  mac_only_encrypted: true
  version: 3.10.2
